body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

#wrapper {
  width: 100%;
  max-width: 964px;
  position: relative;
}

#sliderr {
  overflow: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

#sliderr::-webkit-scrollbar {
  height: 0;
}

#prev,
#next {
  display: flex;
  justify-content: center;
  align-content: center;
  border: none;
  font-size: 30px;
  border-radius: 50%;
  outline: 0;
  cursor: pointer;
  position: absolute;
}



#next:hover{
  background-color: aqua;
}

#prev:hover{
  background-color: aqua;
}

#prev {
  top: 10%;
  left: 230px;
  transform: translate(50%, -50%);
}
#prev i{
  color: #047EB3;
}

#next i{
  color: #047EB3;
}

#next {
  top: 10%;
  left: 300px;
  transform: translate(-50%, -50%);
}

#content {
  display: flex;
  gap: 20px;
  margin: auto;
  box-sizing: border-box;
}

.item {
  width: 225px;
  height: 225px;
  border-radius: 20px;
}

h1,h4,h5{
  font-family: MyFont1;
}

@font-face {
  font-family: MyFont1;
  src: url(../fonts/Poppins-Regular.ttf);
}